<!DOCTYPE html>
<html>
<head>
    <title>New Facebook</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link link rel='stylesheet' href='/stylesheets/theme_2.css'>
    <link link rel='stylesheet' href='/stylesheets/customization.css'>
</head>


<body>


<header>
    <nav class="navbar navbar-default navbar-fixed-top text-uppercase">

        <!--  Logo  -->
        <div class="navbar-brand">
            <a href="/" class="header">
                <span class="glyphicon glyphicon-comment"></span><span class="">io.chat</span>
            </a>
        </div>

        <!--  Navigation  -->
        <div class="container-fluid nav-container">

            {{#if user}}
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="">
                            <img src="/images/userProfilePictures/lora.jpg" class="navbar-header img-logged ">
                            Lora Milcheva <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="dLabelActive" href="#">My Profile</a></li>
                            <div role="separator" class="divider"></div>
                            <li><a id="dLabelClosed" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" id="projectsView">
                            My chat rooms <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {{#each conversations}}
                                <li><a id="dLabelActive" href="/conversation/:{{_id}}">{{title}}</a></li>
                            {{/each}}
                            <div role="separator" class="divider"></div>
                        </ul>
                    </li>

                    <a class="btn btn-sm btn-primary" href="/chatRoom/newChat">New chat</a>
                </ul>

            {{/if}}

            {{#unless user}}
                <div class="nav navbar-nav pull-right">
                    <ul>
                        <a href="/user/login" id="loginBtn">Login</a> /
                        <a href="/user/register" id="registerBtn"> Register</a>
                    </ul>
                </div>
            {{/unless}}
        </div>

    </nav>
</header>

{{#if error }}
    <h2>{{error}}</h2>
{{/if}}

{{{body}}}
</body>

<footer>ChatName © 2017</footer>

</html>
