<div class="container-fullsize">

    <!--  Company Logo  -->
    <div class="home-login-container">
        <section id="welcome">

            <h3>Join the talk.</h3>

            <form class="form-inline" action="/conversation/conversation" method="POST">
                <!--  Chat name  -->
                <div class="form-group">
                    <label class="sr-only" for="chatName">Chat name</label>
                    <div class="input-group">
                        <!--<span class="input-group-addon">#</span>-->
                        <input type="text" class="form-control form-control-login input-lg" id="chatName" placeholder="Chat name" name="chatName" required>
                    </div>
                    <button type="submit" class="btn btn-lg home-btn">Get me in.</button>
                </div>
            </form>


            <div class="col-xs-12 text-center">
                <a class="btn btn-link home-btn-link" href="/conversation/list">
                    Go to chat rooms
                </a>
            </div>
            {{#unless user}}
            <p>
                <a href="#" data-toggle="modal" data-target="#loginModal">Sign in</a> or
                <a href="#" data-toggle="modal" data-target="#registerModal">Sign up</a> to create your own chat rooms.
            </p>
            {{/unless}}
        </section>
    </div>
</div>


