<div class="container-fullsize">

    <!--  Company Logo  -->
    <div class="home-login-container">
        <section id="welcome">

            <h3>Join the talk.</h3>

            <form class="form-inline" action="/" method="POST">
                <!--  Chat name  -->
                <div class="form-group">
                    <label class="sr-only" for="chatName">Chat name</label>
                    <div class="input-group">
                        <!--<span class="input-group-addon">#</span>-->
                        <input type="text" class="form-control form-control-login input-lg" id="chatName" placeholder="Chat name" name="chatName" required>
                    </div>
                    <button type="submit" class="btn btn-lg home-btn">Get me in.</button>
                </div>
            </form>


            <div class="col-xs-12 text-center">
                <a class="btn btn-link home-btn-link" href="/chatRoom/allChats">
                    Go to chat rooms
                </a>
            </div>

            <p>
                <a href="#" data-toggle="modal" data-target="#loginModal">Sign in</a> or
                <a href="#" data-toggle="modal" data-target="#registerModal">Sign up</a> to create your own chat rooms.
            </p>

        </section>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" action="/user/login" method="POST">

                    <!--  Nickname  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="loginNickname">Nickname</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="loginNickname" placeholder="Nickname"
                                   name="loginNickname" required>
                        </div>
                    </div>

                    <!--  Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="loginPassword">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="loginPassword" placeholder="Password"
                                   name="loginPassword" required>
                        </div>
                    </div>

                    <!--  Submit / Discard  -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create account</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" action="/user/register" method="POST">

                    <!--  Full name  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerFullName">Full Name</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="registerFullName" placeholder="Full Name"
                                   name="registerFullName" required>
                        </div>
                    </div>

                    <!--  Nickname  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerNickname">Nickname</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="registerNickname" placeholder="Nickname"
                                   name="registerNickname" required>
                        </div>
                    </div>

                    <!--  Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerPassword">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="registerPassword" placeholder="Password"
                                   name="registerPassword" required>
                        </div>
                    </div>

                    <!--  Re-enter Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="reenterPassword">Re-enter Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="reenterPassword"
                                   placeholder="Re-enter Password"
                                   name="reenterPassword">
                        </div>
                    </div>

                    <!--  Email  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerEmail">Email</label>
                        <div class="col-lg-8">
                            <input type="email" class="form-control center" id="registerEmail" placeholder="Email" name="registerEmail"
                                   required>
                        </div>
                    </div>

                    <!--  Phone Number  -->
                    <div class="form-group ">
                        <label class="control-label col-lg-3" for="phone">Phone</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="phone" placeholder="Phone Number"
                                   name="phone">
                        </div>
                    </div>

                    <!--  Country  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="country">Country</label>
                        <div class="col-lg-8">
                            <select class="form-control center" id="country" name="country">
                                <option>Bulgaria</option>
                                <option>India</option>
                                <option>Sweden</option>
                                <option>Nepal</option>
                                <option>Bolivia</option>
                            </select>
                        </div>
                    </div>

                    <!--  Submit / Discard  -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create account</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

