<header>

    <nav class="navbar navbar-default navbar-fixed-top text-uppercase">
        <div class="navbar-brand">
            <a href="#/home" class="header">
                <span class="glyphicon glyphicon-comment"></span><span class="">i.chat</span>
            </a>
        </div>

        <div class="container-fluid nav-container">

            <!--  Navigation  -->
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="">
                            <img src="./public/images/userProfilePictures/lora.jpg" class="navbar-header img-logged ">
                            Lora Milcheva <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="dLabelActive" href="#">My Profile</a></li>
                            <div role="separator" class="divider"></div>
                            <li><a id="dLabelClosed" href="#">Logout</a></li>
                        </ul>
                    </li>

                    <span class="glyphicon glyphicon-cog"></span>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/project/list" id="projectsView">
                            My chat rooms <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="dLabelActive" href="#">Chat One</a></li>
                            <div role="separator" class="divider"></div>
                            <li><a id="dLabelClosed" href="#">Chat Two</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="projectsView">
                            Login / Register
                        </a>
                    </li>

                    <a class="btn btn-primary">New chat</a>
                </ul>
            </div>
        </div>
        <h4 class="text-center" style="color: #6c000e; font-weight: bold">{{error}}</h4>

    </nav>
</header>