{{> header}}


<div class="container-fullsize">

    <!--  Company Logo  -->
    <div class="home-login-container">
        <section id="welcome">

            <!-- Carousel -->
            <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
                <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                <!--</ol>-->
                <!--<div class="carousel-inner" role="listbox">-->
                    <!--<div class="item active">-->
                        <!--<img class="first-slide" src="./public/images/sliders/bg_01.jpg" alt="First slide">-->
                        <!--<div class="container">-->
                            <!--<div class="carousel-caption">-->
                                <!--<h1>Example headline.</h1>-->
                                <!--<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
                                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img class="second-slide" src="./public/images/sliders/bg_02.jpg" alt="Second slide">-->
                        <!--<div class="container">-->
                            <!--<div class="carousel-caption">-->
                                <!--<h1>Another example headline.</h1>-->
                                <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<img class="third-slide" src="./public/images/sliders/bg_03.jpg" alt="Third slide">-->
                        <!--<div class="container">-->
                            <!--<div class="carousel-caption">-->
                                <!--<h1>One more for good measure.</h1>-->
                                <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Previous</span>-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Next</span>-->
                <!--</a>-->
            <!--</div>-->


            <!-- Carousel -->
            <h3>Join the talk.</h3>
            <form class="form-inline" action="/" method="POST">
                <!--  Chat name  -->
                <div class="form-group">
                    <label class="sr-only" for="chatName">Chat name</label>
                    <div class="input-group">
                        <!--<span class="input-group-addon">#</span>-->
                        <input type="text" class="form-control form-control-login input-lg" id="chatName" placeholder="Chat name" name="chatName" required>
                    </div>
                    <button type="submit" class="btn btn-lg home-btn">Get me in.</button>
                </div>
            </form>


            <div class="col-xs-12 text-center">
                <a class="btn btn-link home-btn-link" href="#/allChats">
                    Go to chat rooms
                </a>
            </div>

            <p>
                <a href="#" data-toggle="modal" data-target="#loginModal">Sign in</a> or
                <a href="#" data-toggle="modal" data-target="#registerModal">Sign up</a> to create your own chat rooms.
            </p>

        </section>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" action="/user/signIn" method="POST">

                    <!--  Nickname  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="loginNickname">Nickname</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="loginNickname" placeholder="Nickname"
                                   name="loginNickname" required>
                        </div>
                    </div>

                    <!--  Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="loginPassword">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="loginPassword" placeholder="Password"
                                   name="loginPassword" required>
                        </div>
                    </div>

                    <!--  Submit / Discard  -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create account</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <!--  Modal Content  -->
        <div class="modal-content">

            <!--  Header  -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>

            <!--  Body  -->
            <div class="modal-body">

                <!--  Form  -->
                <form class="form-horizontal" action="/user/register" method="POST">

                    <!--  Full name  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerFullName">Full Name</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="registerFullName" placeholder="Full Name"
                                   name="registerFullName" required>
                        </div>
                    </div>

                    <!--  Nickname  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerNickname">Nickname</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="registerNickname" placeholder="Nickname"
                                   name="registerNickname" required>
                        </div>
                    </div>

                    <!--  Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerPassword">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="registerPassword" placeholder="Password"
                                   name="registerPassword" required>
                        </div>
                    </div>

                    <!--  Re-enter Password  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="reenterPassword">Re-enter Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control center" id="reenterPassword"
                                   placeholder="Re-enter Password"
                                   name="reenterPassword">
                        </div>
                    </div>

                    <!--  Email  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="registerEmail">Email</label>
                        <div class="col-lg-8">
                            <input type="email" class="form-control center" id="registerEmail" placeholder="Email" name="registerEmail"
                                   required>
                        </div>
                    </div>

                    <!--  Phone Number  -->
                    <div class="form-group ">
                        <label class="control-label col-lg-3" for="phone">Phone</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control center" id="phone" placeholder="Phone Number"
                                   name="phone">
                        </div>
                    </div>

                    <!--  Country  -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="country">Country</label>
                        <div class="col-lg-8">
                            <select class="form-control center" id="country" name="country">
                                <option>Bulgaria</option>
                                <option>India</option>
                                <option>Sweden</option>
                                <option>Nepal</option>
                                <option>Bolivia</option>
                            </select>
                        </div>
                    </div>

                    <!--  Submit / Discard  -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create account</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



